<div class="col-md-4" *ngFor="let dato of lista ">
    <div class="card text_center">
        <button routerLink="/inicio/id">{{dato.id}}</button>
        
        <div class="card_header bg-dark text-white d-flex justify-content-betwen align-item-center">
            {{dato.title}}
        </div>
        <div class="card-body">
            {{dato.body}}
        </div>
        <div class="card-body">
            <button class="btn btn-danger" (click)="eliminarUsuario(dato.id)">eliminar</button>
        </div>
    </div>
</div>



